.actions
  label.actions__label(for="main_checkbox")
    input.actions__checkbox#main_checkbox(type="checkbox" value="Select all" title="Select all")
    span.actions__label-text select all
  .actions__buttons
    a.actions__button.button#button_new(href="#" data-action="new") New
    a.actions__button.button#button_star(href="#" data-action="starred") Star
    a.actions__button.button#button_delete(href="#" data-action="deleted") Delete
