header.header
  a.header__logo(href="/")
    img.header__logo-img(src=require("images/paperplane.svg"))
    i.header__logo-text Paperplane

  a.header-nav__trigger(href="#") Menu
  include ../partials/navigation.pug
