nav.header-nav
  a.header-nav__link.header-nav__link--active(href="./inbox" data-list="inbox") Inbox
  a.header-nav__link(href="./draft" data-list="draft") Draft
  a.header-nav__link(href="./starred" data-list="starred") Starred
  a.header-nav__link(href="./deleted" data-list="deleted") Deleted
